@font-face {
	font-family:"Avenir-Light";
	src:url("../fonts/AvenirLTStd-Light.otf") format("opentype");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:"Avenir-Roman";
	src:url("../fonts/AvenirLTStd-Roman.otf") format("opentype");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:"Nexa-Light";
	src:url("../fonts/Nexa Light.otf") format("opentype");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:"Nexa-Slab-Bold";
	src:url("../fonts/Nexa Slab Bold.otf") format("opentype");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:"Nexa-Slab-Regular";
	src:url("../fonts/Nexa Slab Regular.otf") format("opentype");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:"Avenir-Heavy";
	src:url("../fonts/Avenir-Heavy.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:"AvenirLTStd-Black";
	src:url("../fonts/AvenirLTStd-Black.otf") format("opentype");
	font-weight:normal;
	font-style:normal;
}

