$aubergine-color: rgb(55, 54, 69);
$brand-color: rgb(110, 155, 202);
$inline: inline-flex;
$main_border: 1px solid rgb(204, 204, 204);
$gray: rgb(204, 204, 204);

$title: 1.9rem "AvenirLTStd-Black";

header{
	position: fixed;
	z-index: 1000;
	left: 50%;
	transform: translate(-50%);

	.head_col{
		
		margin-top: 7vh;
		background-color: white;
		height: 13vh;
		transition: margin .2s ease;
	}

	.head_row{
		display: flex;
		align-items: center;
		text-align: center;
		height: inherit;
		box-shadow: 0em 0.4em 5px rgba(122,122,122,0.5);
	}

	.head_left{
		background-color: $aubergine-color;
		height: inherit;
	    position: relative;
	    left: -1px;


		:first-child{
			font-family: 'Nexa-Slab-Bold';
			font-size: 2vw;
			color: $brand-color;
			margin: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -70%);
		}

		:last-child{
			font-family: 'Nexa-Light';
			font-size: 1vw;
			color: white;
			margin: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, 20%);
			white-space: nowrap;
		}
	}
	
	.head_right{
		height: 13vh;

		.row{
			height:inherit;

			.col-xs-1{
				height:inherit;

				.home_div{
					height:inherit;
					width: 28px;
					// background-color:#b5dcb5;
					.home{
						position: absolute;
						top: 50%; 
	    				transform: translate(-50%, -50%);

	    				&:hover{
	    					.home_div{
	    						border-bottom: 6px solid $brand-color;
	    					}
							
	    				}
					}

					&:hover{
	    				border-bottom: 6px solid $brand-color;
	    			}
				}
			}
		}
	}

	ol{
		padding-left: 0;

		.main_li{
			display: inline-block;
		    font-family: 'Avenir-Roman';
		    font-size: 0.9rem;
			position: relative;
			height: 13vh;
			margin-left: 0.7rem;
			margin-right: 0.7rem;
			display: inline-flex;
			align-items: center;

		    a{
				color: rgb(55, 54, 69);
		    	text-decoration: none;

		    	&:hover {
		    		text-decoration: none;
		    	}
			}

			/* &:hover {
				border-top: 6px solid $aubergine-color;
				border-bottom: 6px solid $brand-color;
				.inner {
					display: block;
				}
			} */
		}
	}

	.brandIcons{
		display: flex;
		align-items: center;
		height: inherit;

		a {
			color: $brand-color;
		}

		i{
			margin: 5.5px;
			cursor: pointer;
    		height: 24px;
		}
	}
}

.search{
	display: $inline;
    top: 50%;
	transform: translateY(-50%);


	form{
		display: $inline;
		input[type="text"] {
			border: $main_border;
			width: calc(100% - 24px);
		}

		.search_submit {
			background-image: url('../img/search.png');
			background-repeat: no-repeat;
			background-position: center, center;
			border: $main_border;
			cursor: pointer;
			width: 24px;
			height: 24px;
			display: inline-block;
		}
	}
}

